/*固定表頭*/
.head0{
    width:100%;
	height:30px;
	top:0;
	left:0;
}
/*表頭*/
.head{
    height: 300px;
    background: #BDE0F4;
    margin-bottom: 30px;
}
/*表頭*/
.word0{
    font-size: 40px;
    font-family: "Arial Black";
    color: #00159F;
    margin-left: 50px;
    margin-bottom: 70px;
    padding-top: 40px;
}
/*購物車、大頭貼、登出空間*/
.info{
    display: flex;
    float: right;
    float: top;
    margin-top: -100px;
    margin-right: 40px;
}
/*購物車*/
.avater-frame1{
    width: 70px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    background-image: url("購物車.png"); 
    background-size: cover;
    background-position: center;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    display: flex;
    float: right;
    float: top;
    margin-right: 20px;
}
/*大頭貼*/
.avater-frame2{
    width: 70px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: #FFDBA1;;
    background-image: url("大頭貼.png"); 
    background-size: cover;
    background-position: center;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    display: flex;
    float: right;
    float: top;
}
/*登出*/
.a3{
    text-decoration: none;
    font-family: "Arial";
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    outline-style: none;
    color: #00159F;
    border: 5px solid #FFDBA1; 
    background-color:#ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
/*表頭下空間*/
.place2{
    margin-top: 350px;
}
/*連結*/
.a1{
    text-decoration: none;
    font-family: "Arial";
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    outline-style: none;
    color: #00159F;
    border: 3px solid #ffffff; 
    background-color:#BDE0F4;
    border-radius: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
}
/*您目前的行程有:*/
.word1{
    display: flex;          
    justify-content: center;   
    font-size: 30px;
    font-family: "Arial";
    font-weight: 900;
    color: #FFC465;
    text-align: left;
    margin-top: 150px;
    margin-bottom: 10px;
    padding-left: 10px;
}
/*景點文字*/
.container{
    font-size: 20px;
    font-family: "Arial";
    font-weight: 900;
    color: #00159F;
    text-align: center;
    margin-bottom: 10px;
}
.place{
    display: inline-block;
    text-align: left;
}
/*刪除按鈕*/
.btn{
    font-family: "Arial";
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    outline-style: none;
    color: #00159F;
    border: 3px solid #00159F; 
    background-color:#BDE0F4;
    border-radius: 3px;
    display: block;
    margin: 10px auto;
    padding: 5px;
}

.input2{
    text-decoration: none;
    font-family: "Arial";
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    outline-style: none;
    color: #00159F;
    border: 3px solid #ffffff; 
    background-color:#BDE0F4;
    border-radius: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
}